body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #7c6190;
}

form {
  background: white; /* White background */
  padding: 30px; /* Internal space */
  border-radius: 4px; /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1); /* OR subtle border */
  margin: 10px;
  width: 60%;
}

.card {
  background: white; /* White background */
  padding: 30px; /* Internal space */
  border-radius: 4px; /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1); /* OR subtle border */
  margin: 10px;
  width: 60%;
  transition: transform 0.2s; /* Animation */
}

.card:hover {
  transform: scale(1.1);
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  text-align: center;
}

a {
  color: Black;
  text-decoration: none;
}

.card a:visited {
  color: Black;
}
